body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
/* Creating a sticky footer */
footer {
    grid-row: 3;
}
form {
    /* Grid used to create customisable layout where additonal options can be added */
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    grid-column-gap: 50px;
}
.col1 {
    grid-column: 1;
}
.col2 {
    grid-column: 2;
}
.col3 {
    grid-column: 3;
}
.col4 {
    grid-column: 4;
}
    

@media (max-width: 1450px) {
    /* Removes the top row from the grid as the menu will now be collapsable */
    body {
        display: grid;
        grid-template-rows: 1fr auto;
    }
}